* {
    margin: 0;
    padding: 0;
}

#bar {
    width: 100%;
    background-color: rgb(23, 23, 23);
    position: fixed;
    align-items: center;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
}

h1, h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#bar h1 {
    color: white;
    padding: 20px;
}

#bar img {
    width: 80px;
    height: 80px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 10;
}

#gap {
    padding-top: 120px;
}

.partyHide {
    display: none;
}
.stateHide {
    display: none;
}
.rankHide {
    display: none;
}