* {
    margin: 0;
    padding: 0;
}

#bar {
    width: 100%;
    background-color: black;
    align-items: center;
    justify-content: right;
    display: flex;
}

h1, h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#bar h1 {
    color: white;
    padding: 20px;
}

#bar img {
    width: 80px;
    height: fit-content;
    padding: 15px;
    padding-left: 0;
    padding-right: 20px;
}